<link rel='stylesheet' href='./style.css' />
   <h3>Type a song name and click on "Search"</h3>

    <form id="search-form" method="post" action="/songs">
        <input type="text" id="query" value="" name="song" class="song" placeholder="Type an song "/>
        <input type="submit" id="search" class="button" value="songSearch" />
    </form>

  <p id='songNameOne'></p>
  <p id='linkOne'></p>

  <audio controls>
    <source src="preview.ogg" type="audio/ogg">
    <source src="preview.mp3" type="audio/mpeg">
  </audio>

  <div class="imageSmallOne" id="imageSmallOne"></div>
**********************************************************
  <p id='songNameTwo'></p>
  <p id='linkTwo'></p>

  <audio controls>
    <source src="preview.ogg" type="audio/ogg">
    <source src="preview.mp3" type="audio/mpeg">
  </audio>

  <div class="imageSmallTwo" id="imageSmallTwo"></div>

**********************************************************
<p id='songNameThree'></p>
<p id='linkThree'></p>

<audio controls>
  <source src="preview.ogg" type="audio/ogg">
  <source src="preview.mp3" type="audio/mpeg">
</audio>

<div class="imageSmallThree" id="imageSmallThree"></div>


<script src="./bundle.js"></script>
