<link rel='stylesheet' href='./style.css' />
   <h1>Type a song name and click on "Search"</h1>

    <form id="search-form" method="post" action="/songs">
        <input type="text" id="query" value="" name="song" class="song" placeholder="Type an song "/>
        <input type="submit" id="search" class="button" value="songSearch" />
    </form>
  here are five songs... go wild

  <p id='songName'></p>
  <p id='link'></p>

  <div class="imageSmall" id="imageSmall"></div>

<script src="./bundle.js"></script>
