<link rel='stylesheet' href='./style.css' />
   <h3>Type a song name and click on "Search"</h3>

    <form id="search-form" method="post" action="/songs">
        <input type="text" id="query" value="" name="song" class="song" placeholder="Type an song "/>
        <input type="submit" id="search" class="button" value="songSearch" />
    </form>

<div id= songOne >
  <!-- <a href="mailto:someone@example.com?Subject=A%20message%20from%20MixTape" target="_top"> -->
  <p id='songNameOne'></p>
  <div id='linkOne'></div>
  <div id='resultsOne'></div>
  <div id='previewOne'></div>
  <div class="imageSmallOne" id="imageSmallOne"></div>
<!-- </a> -->
</div>
**********************************************************
  <p id='songNameTwo'></p>
  <p id='linkTwo'></p>
  <div id='resultsTwo'></div>
  <div id='previewTwo'></div>

  <div class="imageSmallTwo" id="imageSmallTwo"></div>

**********************************************************
  <p id='songNameThree'></p>
  <p id='linkThree'></p>
  <div id='resultsThree'></div>
  <div id='previewThree'></div>

<div class="imageSmallThree" id="imageSmallThree"></div>


<script src="./bundle.js"></script>
