Main.hbs
<link rel='stylesheet' href='./style.css' />

<h1>Search for a song</h1>
    <p>Type a song name and click on "Search"</p>

    <form id="search-form" method="post">
        <input type="text" id="query" value="" name="song" class="song" placeholder="Type an song "/>
        <input type="submit" id="search" class="button" value="songSearch" />
    </form>

<script src="./bundle.js"></script>
