songs.hbs
<link rel='stylesheet' href='./style.css' />

<h1>here are five songs... go wild</h1>

<p id='songName'> </p>
<p id='link'> </p>
<p id='imageSmall'> </p>
<p id='imageLarage'> </p>


<script src="./bundle.js"></script>
