songs.hbs
<link rel='stylesheet' href='./style.css' />

<h1>here are five songs... go wild</h1>

{{#each data}}

  {{songName}}
  {{link}}
  {{imageSmall}}

{{/each}}

<script src="./bundle.js"></script>
